body {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    height: 90vh;              
    margin: 0;                  
    background-color: black;  
}

.container{
    width: auto;
    height: auto;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}


.logo img{
    margin-top: auto;
    margin-bottom: auto;
    width: 250px;
    height: 200px;
}


.login {
    display: flex;
    width: auto;
    height: auto;
    padding: 30;
    background-color: #101010;  
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.login button:not(.delete){
    appearance: none;          
    border: none;              
    background: none;          
    box-shadow: none;          
    padding: 10px 20px;        
    width: 300px;
    background-color: white; 
    color: black;              
    font-size: 16px;           
    cursor: pointer;     
    transition: all 0.3s ease;
}

.input{
    width: 100%;
}

.input label{
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

.input input{
    appearance: none;
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #505050;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
}

.input p{
    margin-bottom: -10px;
    font-size: 14px;
}

.input a{
    color: #4a96d2;
}

button:hover{
    scale: 105%;
}

button:active{
    scale: 95%;
}

input:hover{
    background-color: #707070;
}

.error{
    color: red;
    font-family: 'Roboto', sans-serif;
}

.title{
    font-size: 25px;
    font-weight: 600;
}

.game{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.publisher{
    margin: 10px;
    font-size: 18px;
}

.price{
    margin: 10px;
}

.total{
    display: flex;
    padding-top: 10px;
    margin-bottom: 20px;
}

.total div{
    width: 100%;
}

.sum{
    display: flex;
    justify-content: right;
}

.message div{
    margin-bottom: 30px;
    font-weight: 600;
}

.desc{
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
}

.delete{
    appearance: none;          
    border: none;              
    background: none;          
    box-shadow: none;          
    padding: 10px 20px;        
    width: 100%;
    background-color:red; 
    color: white;              
    font-size: 16px;           
    cursor: pointer;     
    transition: all 0.3s ease;
}
