<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
<div class="container">
<p><b>Transaction Details</b></p>
<div class="login">
    <div class = "input">
        <form action="/transaction/{{gamedata['GAMEID']}}" method="POST">
            <div>
                <div class = "title">Product Details</div>
                <hr>
                <div class = "game">{{gamedata['GAMENAME']}}</div>
                <div class = "publisher">{{gamedata['PUBLISHERNAME']}}</div>
                <div class = "price">RM {{gamedata['PRICE']}}</div>
                <hr>
                <div class = "total">
                    <div class = "text">TOTAL</div>
                    <div class = "sum">RM {{gamedata['PRICE']}}</div>
                </div>
            </div>
            <div><button type="submit">Purchase</button></div>
        </form>
        <p>Return to <a href="\home">Home Page</a></p>
    </div>
</div>
</div>
</body>

</html>