<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>Store</title>
</head>
<body>
    <nav class="navbar">
        <!-- Logo Section -->
        <div class="left-side">
            <div class="logo">
                <img src="/static/images/Nexus.png" alt="Logo">
            </div>

            <!-- Navigation Links -->
            <ul class="nav-links">
                <li><a href="\home">Home</a></li>
                <li><a href="\store">Store</a></li>
                <li><a href="\library\{{userid}}">Library</a></li>
                <li><a href="\support">Support</a></li>
            </ul>
        </div>

        <div class="right-side">
            <a href="\profile" class="circular-image-link">
                <img src="{{ picture_link }}" alt="Circular image" class="circular-image">
            </a>
        </div>

    </nav>

    <div class = "store-title">
        NEXUS GAME STORE
    </div>

    <div class = "store-search">
        <form action="/store" method="GET">
            <input type="text" name="query" placeholder="Search Games">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class = "store-games"> 
        {% for a in results %}
        <div>
            <a href="/game-page/{{a[0]}}"><img src="/static/images/g{{a[0]}}.jpg" alt="{{a}}"></a>
            <p>{{a[1]}}</p>
        </div>
        {% endfor %}
    </div>


</body>

</html>