<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>Success</title>
</head>

<body>
<div class="container">
<div class="login">
    <div class = "message">
        <div>Congratulations! Your Transaction is Successful! ^_^</div>
        <p>Return to the home page <a href="/home">here</a></p>
    </div>
</div>
</div>
</body>

</html>